html {
scroll-behavior: smooth;
}
.logo {
    min-width:109px;
    font-size: 42.41px;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: #1BFF07;

    display: block;
    text-align: center;
    background-color: #191C19;
    border-radius: 30px;
    width: 140px;
    height: 55px;
}
.nav-section {
    display: flex;
    align-items: center;
    width: 1151.35px;
    height: 25.18px;
    margin-top: 36px;
}
.nav {
    display: flex;
    padding-left: 499px;
    width: 100%;
    justify-content: space-between;
}   
.nav-link {
    width: 93px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-decoration: none;
    color: #ffffff;
}
.nav-link:hover {
    color: #1BFF07;
    text-decoration: underline;
}

body {
    font-family: 'IBM Plex Mono';
    background-color: #000000;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1180px;
}

.title-block {
    background-image: url("../resources/logo.png");

    width: 100%;
    height: 765px;
}
.title-text {
    width: 444px;
    height: 103px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    padding: 252px 845px 29px 0px;
}
h1 {
    width: 919px;
    min-height: 205px;
    font-size: 80px;
    font-weight: 400;
    line-height: 70px;
    color: #1BFF07;
    padding: 29px 362px 94px 0px;
}

.project-block {
    width: 100%;
    height: 1995px;
}
.project {
    width: 1048px;
    height: 72px;
    font-size: 55px;
    font-weight: 400;
    line-height: 71.5px;
    margin-top: 150px;
    margin-bottom: 40px;

    color: #FFFFFF;
}
.realhome {
    background-image: url("../resources/Rectangle\ 6\ \(1\).png");

    width: 1150px;
    height: 550px;
}
.name {
    width: 401px;
    height: 46px;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    color: #FFFFFF;
    padding: 410px 699px 5px 50px;
}
.xz {
    width: 506px;
    height: 39px;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    color: #FFFFFF;
    padding: 5px 594px 50px 50px;
}
.glass {
    background-image: url("../resources/Rectangle\ 7\ \(2\).png");

    width: 1150px;
    height: 550px;
}
.fesiyen {
    background-image: url("../resources/Rectangle\ 7\ \(3\).png");

    width: 1150px;
    height: 550px;
    margin-bottom: 80px;
}
.project-button {
    display: block;
    background-color: #1BFF07;
    color: #000000;
    width: 582px;
    height: 153px;
    font-size: 30px;
    font-weight: 400;
    line-height: 153px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #1BFF07;
    border-radius: 10px;
}
.project-button:hover {
    color: #1BFF07;
    background-color: #000000;
}

.competencies-block {
    width: 1048px;
    height: 1377px;
    margin-top: 150px;
}
.my-competencies {
    width: 1048px;
    height: 72px;
    font-size: 55px;
    font-weight: 400;
    line-height: 71.5px;
    color: #FFFFFF;
}
.photo-competencies {
    margin-top: 48px;
    margin-bottom: 12px;
}
.html-css {
    width: 1048px;
    height: 177px;
}
.title {
    width: 1048px;
    min-height: 46px;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    color: #1BFF07;
    margin-bottom: 15px;
} 
.text {
    width: 819px;
    min-height: 100px;
    font-family: IBM Plex Mono;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px;
    color: #FFFFFF;
}
.javascript {
    width: 1048px;
    height: 206px;
}
.libraries-and-frameworks {
    width: 1048px;
    height: 206px;
}
.adaptive-layout {
    width: 778px;
    height: 252px;
}

.tasks-block {
    width: 100%;
    height: 1976px;
}
.tasks {
    width: 420px;
    height: 92px;
    font-family: IBM Plex Mono;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    color: #FFFFFF;
    margin-top: 150px;
}
.photo-tasks {
    margin-top: 74px;
}
.info-tasks {
    background-color: #191C19;
    border-radius: 30px;
    width: 1150px;
    height: 283px;
}
.title-tasks {
    width: 1056px;
    height: 72px;
    font-size: 55px;
    font-weight: 400;
    line-height: 71.5px;
    color: #1BFF07;
    padding: 40px 62px 15px 40px;
}
.text-tasks {
    width: 753px;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px;
    color: #FFFFFF;
    padding: 0px 361px 40px 40px;
    word-break: normal;
    margin-bottom: 114px;
}
.connection {
    background-color: #191C19;
    border-radius: 30px;
    width: 100%;
    height: 717px;  
    position: relative;
}
.test{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 125px;
    bottom: 89px;
}
.for-communication {
    width: 210px;
    font-size: 35px;
    font-weight: 400;
    line-height: 60px;
    color: #FFFFFF;

}
.insta {
    width: 310px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px; 
    color: #FFFFFF;
    text-decoration: none;
}
.insta:hover {
    color: #1BFF07;
    display: block;
}
.telega:hover{
    color: #1BFF07;
    display: block;
}
.mail:hover{
    color: #1BFF07;
    display: block;
}
.telega {
    width: 276px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px; 
    color: #FFFFFF;
    text-decoration: none;
}
.mail {
    width: 139px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    color: #FFFFFF; 
    text-decoration: none;
}
.flex-container {
    display: flex;
    justify-content: flex-end
}