html {

}
body {
    font-family: 'IBM Plex Mono';
    background-color: #000000;
}

.title-block {
    background-image: url("../resources/logo.png");
    width: 100%;
    height: 765px;
}
.title-text {
    width: 430px;
    height: 103px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    padding: 334px 845px 29px 125px;
}
h1 {
    width: 919px;
    height: 205px;
    font-size: 80px;
    font-weight: 400;
    line-height: 70px;
    color: #1BFF07;
    padding: 29px 362px 94px 119px;
}

.project-block {
    width: 100%;
    height: 1995px;
}
.project {
    width: 1048px;
    height: 72px;
    font-size: 55px;
    font-weight: 400;
    line-height: 71.5px;
    margin-top: 150px;

    color: #FFFFFF;
}
